.whoQ {
    background-color: rgb(0,0,255);
	color: white;
}
.whatQ {
    background-color: rgb(0,144,0);
	color: white;
}
.whenQ {
    background-color: rgb(210,0,0);
	color: white;
}
.whereQ {
    background-color: rgb(159,0,159);
	color: white;
}
	
.df {/*Futile*/
    font-style: italic;
	color: gray;
}
.ans {
  overflow: hidden;
  background-color: #DDD;
  opacity: 0.95; /* CSS3 */
  position: fixed;
  bottom: 20px; 
  width: 650px;
  padding: 16px 16px 26px 16px;
  margin-left: -16px;
}
.scenario {
  margin: 0 auto;
  width: 650px;
  margin-bottom: 300px; /* Not sure what this is doing:   padding-bottom: 1450px;*/
  height: 100%; /* To enable scrolling, not sure the value is doing anything */
}
.clock {
	font-weight:bold;
	color:black;
}
.clockEnd {
	font-weight:bold;
	color:red;
}
.incorrect {
	font-weight:bold;
	color:red;
}
.correct {
	font-weight:bold;
	color:black;
}

div.response{
	background-color:#dddddd;
	padding: 1px 10px 10px 10px;
}
